<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShadowOffsetDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBBE399F25CBE88100D7ACF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBE39B525CBE88400D7ACF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBE39C025CBE88400D7ACF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
